<h1>Articles</h1>

<%= Article.public_count %> articles in total
<br>
<br>
<% @articles.each do |article| %>
    <% unless article.archived? %>
        <div class="callout">
            <% article.keywords.each do |keyword| %>
                <%= render(ProgressBadgeComponent.new(status: keyword.word)) do %>
                    <% keyword.word %>
                <% end %>
            <% end %>
            <p>
                <%= link_to article.title, article %>
            </p>
        </div>
    <% end %>
<% end %>

<% if current_user && current_user.role == "admin" %>
    <%= link_to "New Article", new_article_path, :class => "hollow button secondary" %>
<% end %>
