/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.top-bar {
  background: #141b2d;
}

.top-bar ul {
  background-color: #141b2d;
}

.top-bar a {
  color: #f4e1f5;
}

.top-bar a:hover {
  color: #e79bec;
}

.navbar-brand {
  font-size: 2em;
  font-weight: 300;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-btn {
  font-weight: 500;
}

h1 {
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
}
